* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: #3B3F45;
   color: #EB7E7F;
   font-family: Trebuchet, Arial, sans-serif;
   border: 10px solid white;
}

header, p {
   text-align: center;
   margin: 0px;
   padding: 5px 0;
   background-color:#4A4F56;
}
h1 {
   padding-top: 10px;
}
p {
   padding: 10px;
}
ul {
   margin: 1% 30%;
}
.wrapper {
   list-style: none;
}
.wrapper li:nth-child(odd) {
   background:#88839E;
}
.wrapper li:nth-child(even) {
   background: #736F86;
}