* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}
body {
  font-size: 100%;
  background-color: #3399cc;
  border: 20px solid #2b81ac;
  color: white;
  font-family: Lucida Sans Unicode, sans-serif;
}
.container {
  width: 60%;
  margin: 0 auto;
  display: block;
}
.text__title {
  padding: 20px 0;
}
.icon__weather {
  width: 40px;
  height: 40px;
  color: white;
  vertical-align: middle;
  opacity: 1;
}
.column {
  list-style: none;
  border: 2px solid white;
  font-size: 0;
  transition: all 0.1s ease-in;
  margin-bottom: 20px;
}
.text__city {
  display: inline-block;
  font-size: 20px;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
}
.text__city_lisbon {
  background-color: #3399cc;
  min-width: 33.33%;
}
.text__city_paris {
  background-color: #33cccc;
  min-width: 33.33%;
}
.text__city_belgrade {
  background-color: #996699;
  min-width: 33.33%;
}
.text__city_moscow {
  background-color: #c24747;
  min-width: 25%;
}
.text__city_tel-aviv {
  background-color: #e2674a;
  min-width: 25%;
}
.text__city_cair {
  background-color: #ffcc66;
  min-width: 25%;
}
.text__city_new-york {
  background-color: #99cc99;
  min-width: 25%;
}
.text__city_new-dehli {
  background-color: #669999;
  min-width: 25%;
}
.text__city_san-francisco {
  background-color: #cc6699;
  min-width: 50%;
}
.text__city_tokyo {
  background-color: #339966;
  min-width: 25%;
}
.text__city_sydney {
  background-color: #666699;
  min-width: 100%;
}
.degree {
  color: #dfefdf;
}
/* .column .text__city:hover {
   opacity: 0.4;
} */
.column:hover > .text__city {
  opacity: 0.6;
}
.column .text__city:hover {
  opacity: 1;
}
.column .text__city:active {
  background: rgba(92, 86, 95, 0.1);
}
.text__final {
  font-size: 16px;
}
